body {
  font-family: "Raleway", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}

.container {
  margin-top: 1px;
  margin-bottom: -0.3px;
  padding: 70px;
  border: 1.5px solid rgb(68, 73, 76);
  border-radius: 10px;
  padding-top: 50px;
  position: relative;
}

.search-bar {
  margin-top: 80px;
  margin-bottom: 50px;
  border-radius: 15px;
  width: 100%;
  font-size: 18px;
  padding: 30px;
  text-align: center;
}

h1,
.weather-details {
  text-align: left;
}

h1 {
  font-size: 30px;
  margin-top: -1px;
}
h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: bold;
}

.current-date-time {
  color: blueviolet;
  position: Absolute;
  top: 20px;
  right: 10px;
}

.weather-details {
  font-size: 14px;
  font-weight: bold;
  margin-left: -30px;
  list-style-type: none;
}

.current-weather {
  margin-left: 300px;
}

.current-temperature {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 300px;
  margin-top: -60px;
}
.temp {
  font-weight: bold;
  text-align: center;
}
.mon {
  margin-left: -5px;
  font-weight: bold;
}

.tues {
  margin-left: -10px;
  font-weight: bold;
}

.wed {
  margin-left: -5px;
  font-weight: bold;
}
.thurs {
  margin-left: 5px;
  font-weight: bold;
}

.frid {
  margin-left: -5px;
  font-weight: bold;
}

.flex-container {
  width: 100%;
  border: none;
  margin-top: -1rem;
  margin-bottom: -7rem;
  margin-right: 7rem;
}
